.rounded5 {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.rounded10 {
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

a {
	text-decoration: none;
}

.bottom{
	position: absolute;
	background: url(../img/buildings.png) repeat-x;
	width:100%;
 }

.boilerplate{ 
	margin:auto;
	margin-top:100px;
	padding-top:50px;
	background:#ACADAD;
	float:left; 
	width:100%;
} 

.boilerplate .social-buttons{ 
    float:right;
    padding:50px;
}              

.boilerplate .info{ 
    float:left;
    padding:50px 90px;
}              

  
.lightblue{
	color: #6dcff6;
}

.darkblue{
	color: #304860;
}

.titlecolor{
	color: #4f687c;
}
 
.title{
	font-size: 70px;
	margin-top: 25px;
  }

body{
	background: url(../img/bgrep1.png) repeat;
	margin:0px;
}    

.container{
    background: url(../img/bgspot.png) no-repeat;
    margin-top:-10px;
    padding-top:20px;
}

.menu{
	float:right;
}

.menu   li{
  	margin-bottom:5px;
	color:#555;
	list-style:none;
	padding:4px 32px 7px 6px;
	text-align:right;
 	height:20px;
	font-size:20px;
	display: block;
	font-weight: 500;
	
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.menu li a{
	text-decoration: none;
 	padding: 5px 2px 5px 2px;
}

.menu li a:hover{
	background-color: #fbfbfb;
}

.expositores{
	background: url(../img/ico_expo.png) no-repeat right;
}

.lugar{
	background: url(../img/ico_loc.png) no-repeat right;
}

.agenda{
	background: url(../img/ico_cal.png) no-repeat right;
}

.sponsors{
	background: url(../img/ico_sponsors.png) no-repeat right;
}

.registro{
	background: url(../img/ico_registro.png) no-repeat right;
}

.acerca{
	background: url(../img/ico_about.png) no-repeat right;
}

.text-normal{
	font-size:18px;
	font-weight:300;
}

.text-small{
	font-size: 16px;
	font-weight: 500;
}

.white-shadow{
	text-shadow: 1px 1px 2px white;
	
}

.person-about{
	font-size:14px;
	font-weight:100;
}  
      
.person-about a{
   text-decoration:none;
}

.speakerbio{
    margin:40px 0px;
}

.gray-text{
	color:#363636;
}
 
.title-info{
	font-size:19px;
	word-spacing: 1px;
 }

.title-info span{
 }
 
 .bullet{
	color: #6dcff6;
}

.dark-gray{
		color:#555555;

}

.avatar_small{
	
}

.name{
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 5px;
	font-weight: 100;
}

.person-title{
	margin-top: 8px;
}

.person-about{
	line-height: 20px;
}


/* AGENDA */

.agenda-row-header{
	width: 100%;
	height: 40px;
	font-weight: bold;
	font-size: 18px;
}

.agenda-row{
	width: 100%;
 	font-weight: 100;
	font-size: 20px;
	height: 50px;
	margin-bottom: 4px;
	color: white;
	padding: 20px 5px 0px 20px;
}

.agenda-row .tencol{
	font-weight: bold;
}

.darkrow{
	/*background-color: rgba(60,82,106,0.8); */        
	/* Fallback for web browsers that doesn't support RGBa 
   	background: rgb(60,82,106);
   	/* RGBa with 0.6 opacity 
   	background: rgba(60,82,106,0.8);
   	/* For IE 5.5 - 7
   	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#553C526A, endColorstr=#553C526A);
   	/* For IE 8
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#553C526A, endColorstr=#553C526A)";
     
   background:#3C526A; */ 
   background: url(../img/darkrow.jpg);
}

.lightrow{
   /* background-color: rgba(102,136,174,0.27); */
   	/* Fallback for web browsers that doesn't support RGBa  
   	background: rgb(102, 136, 174);
   	/* RGBa with 0.6 opacity 
   	background: rgba(102, 136, 174, 0.27);
   	/* For IE 5.5 - 7
   	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#556688AE, endColorstr=#556688AE);
   	/* For IE 8
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#556688AE, endColorstr=#556688AE)";
     background:#B4C5D9;*/ 
     background: url(../img/lightrow.jpg);
}

.speaker-name{
	font-size: 30px;
	margin-top: 10px;
	font-weight: 100;
	
}

.fat-row{
	height: 80px;
}
